.about {
     width: 75%;
    
    position: relative;
    overflow:  hidden;
    
    float: left;
    padding: 10px;
}
.about h3 {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    
    padding-left: 30px;
    padding-bottom: 5px;
    
    border-bottom: solid 2px #888;
}