.admission {
     width: 75%;
    
    position: relative;
    overflow:  hidden;
    
    float: left;
    padding: 10px;
}
.admission h3 {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    
    padding-left: 30px;
    padding-bottom: 5px;
    
    border-bottom: solid 2px #888;
}

.admission .schedule {
    width: 100%;
    
    padding: 5px;
}
.admission .schedule .item {
    width: 100%;
    height: 40px;
    
    margin-top: 5px;
    padding: 5px;
    
    box-shadow: 0 0 10px #333;
    background-color: #ddd;
    color: #333;
    
    overflow:  hidden;
}
.admission .schedule .item:hover {
    background-color:  rgba(235, 235, 255, 1);
    cursor: pointer;
}
.admission .schedule .item > div {
    height: 100%;
    border-right: solid 2px #333;
    
    text-align: center;
    padding-top: 5px;
    float: left;
}
.admission .schedule .item > div:last-child {
    border: none;
}
.admission .schedule .item:first-child {
    background-color: #333;
    color: #ddd;
}
.admission .schedule .item:first-child >div {
    border-right: solid 2px #ccc;
    color: #ccc;
} 
.admission .schedule .item:first-child >div:last-child {
    border: none
}
.admission .schedule .item .doctor {
    width: 25%;
}
.admission .schedule .item .time {
    width: 10%;
}
.admission .schedule .item .procedure {
    width: 45%;
}
.admission .schedule .item .lasting {
    width: 20%;
}
.admission .schedule .item:last-child {
    margin-top: 20px;
    box-shadow: 0 0 5px #333;
    
    background-image: url(../images/schedule-add.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.admission .schedule .item:last-child:hover {
    background-color:  rgba(255, 255, 0, 0.2);
    cursor: pointer;
}
