.histories {
     width: 75%;
    
    position: relative;
    overflow:  hidden;
    
    float: left;
    padding: 10px;
}
.histories h3 {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    
    padding-left: 30px;
    padding-bottom: 5px;
    
    border-bottom: solid 2px #888;
}

.histories .histories-list {
    width: 100%;
    
    padding: 5px;
}
.histories .histories-list .item {
    width: 100%;
    height: 60px;
    
    margin-top: 5px;
    padding: 5px;
    
    box-shadow: 0 0 10px #333;
    background-color: #ddd;
    color: #333;
    
    overflow:  hidden;
}
.histories .histories-list .item:hover {
    background-color:  rgba(235, 235, 255, 1);
}
.histories .histories-list .item > div {
    height: 50px;
    border-right: solid 2px #333;
    
    text-align: left;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 12pt;
    float: left;
}
.histories .histories-list .item > div:last-child {
    border: none;
}
.histories .histories-list .item .date {
    width: 13%;
}
.histories .histories-list .item .disease {
    width: 57%;
}
.histories .histories-list .item .doctor {
    width: 20%;
    border: none;
}
.histories .histories-list .item .open {
    width: 40px;
    height: 40px;
    
    margin: 5px;
    
    background-image: url(../images/histories-open.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    float: right;
}
.histories .histories-list .item .open:hover {
    background-image: url(../images/histories-open-hover.png);
    box-shadow: 0 0 20px #ccc;
    cursor: pointer;
}
.histories .histories-list .item .close {
    display: none
}
.histories .histories-list .item.opened {
    height: 375px;
}
.histories .histories-list .item.opened .close {
    width: 40px;
    height: 40px;
    
    margin: 5px;
    
    background-image: url(../images/histories-close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    float: right;
    display: block;
}
.histories .histories-list .item .close:hover {
    background-image: url(../images/histories-close-hover.png);
    box-shadow: 0 0 20px #ccc;
    cursor: pointer;
}
.histories .histories-list .item.opened .open {
    display: none;
}
.histories .histories-list .item.opened .description {
    width: 100%;
    height: 300px;
    
    margin-top: 5px;
    padding-top: 5px;
    overflow: hidden;
    
    border-top: solid 2px #333;
}
.histories .histories-list .item.opened .description .text {
    width: 98%;
    height: 295px;
}
