.content {
    width: 75%;
    
    position: relative;
    overflow:  hidden;
    
    float: left;
    padding:  10px;
}
.content h3 {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    
    padding-left: 30px;
    padding-bottom: 5px;
    
    border-bottom: solid 2px #888;
}

.news-box .item {
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    
    padding: 5px;
    
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px #444;
}
.news-box .item h4 {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 20px;
    border-bottom: solid 1px #aaa;
}
.news-box .item .author,
.news-box .item .date {
    color: #888;
    font-size: 14px;
    margin-right: 10px;
    
    display:  inline-block;
    float:  right;
}
.news-box .item .text {
    height: 140px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}
.news-box .item .read {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-right: 20px;
    
    text-align: right;
    font-size: 14px;
    
    border-top: solid 1px #aaa;
    display: block;
}
