.medicine-chest {
     width: 75%;
    
    position: relative;
    overflow:  hidden;
    
    float: left;
    padding: 10px;
}
.medicine-chest h3 {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    
    padding-left: 30px;
    padding-bottom: 5px;
    
    border-bottom: solid 2px #888;
}

.medicine-list {
    width: 100%;
    
    margin-bottom: 30px;
    padding: 5px;
}
.medicine-list h4 {
    text-align: center;
    
    border-top: solid 1px #333;
    border-bottom: solid 1px #333;
    
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 200px;
    margin-right: 200px;
}
.medicine-list .item {
    width: 100%;
    height: 40px;
    
    margin-top: 5px;
    padding: 5px;
    
    box-shadow: 0 0 10px #333;
    background-color: #ddd;
    color: #333;
    
    overflow:  hidden;
}
.medicine-list .item:hover {
    background-color:  rgba(235, 235, 255, 1);
    cursor: pointer;
}
.medicine-list .item:nth-child(2) {
    background-color: #333;
    color: #ddd;
    
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    padding-top: 5px;
    
    cursor: auto;
}
.medicine-list .item > div {
    height: 100%;
    border-right: solid 2px #333;
    
    text-align: center;
    padding-top: 5px;
    float: left;
}
.medicine-list .item > div:last-child {
    border: none;
}
.medicine-list .item:nth-child(2) >div {
    border-right: solid 2px #ccc;
    color: #ccc;
} 
.medicine-list .item:nth-child(2) >div:last-child {
    border: none
}

.medicine-list.my-list .item .medicine,
.medicine-list.recomend-list .item .medicine {
    width: 50%;
}
.medicine-list.my-list .item .purchase,
.medicine-list.my-list .item .shelf-life,
.medicine-list.recomend-list .item .in-stock,
.medicine-list.recomend-list .item .buy {
    width: 25%;
}