.my-modal {
    width: 100%;
    height: 100%;
    
    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(51, 51, 51, 0.6);
    
    display: none;
}

.my-modal .add-record {
    width: 600px;
    height: 400px;
    
    margin: 100px auto;
    
    background-color: rgba(235, 235, 235, 0.8);
    box-shadow: 0 0 20px #000;
    
    display: none;
}

.my-modal .check-in {
    width: 300px;
    height: 400px;
    
    margin: 100px auto;
    padding: 5px;
    
    background-color: rgba(235, 235, 235, 0.8);
    box-shadow: 0 0 20px #000;
    
    display: none;
}
.my-modal .check-in h3 {
    text-align: center;
    
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    
    border-top: solid 1px #666;
    border-bottom: solid 1px #666;    
}
.my-modal .check-in form label {
    display: block;
    padding-top: 2px;
}
.my-modal .check-in form input {
    width: 100%;
}
.my-modal .check-in form button {
    margin-top: 10px;
    margin-left: 70px;
}

.my-modal .success {
    width: 200px;
    height: 100px;
    
    margin: 250px auto;
    padding: 15px;

    background-color: rgba(235, 235, 235, 0.8);
    box-shadow: 0 0 20px #000;
    
    display: none;
}
.my-modal .success h3 {
    text-align: center;
    
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    
    border-top: solid 1px #666;
    border-bottom: solid 1px #666;    
}