.pharmacy {
    width: 75%;
    
    position: relative;
    overflow:  hidden;
    
    float: left;
    padding: 10px;
}
.pharmacy h3 {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    
    padding-left: 30px;
    padding-bottom: 5px;
    
    border-bottom: solid 2px #888;
}

.pharmacy .item {
    width: 30%;
    
    margin: 10px;
    padding: 5px;
    float:  left;
    overflow: hidden;
    box-shadow: 0 0 10px #000;
    
    background-color: rgba(255, 255, 255, 0.6);
}
.pharmacy .item h4 {
    text-align: center;
    
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    font-weight: bold;
    
    border-bottom: solid 2px #aaa;
}
.pharmacy .item .image {
    width: 70%;
    height: 115px;
    
    background-image: url(../images/jarvis_logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    margin: 0 auto;
}
.pharmacy .item .text {
    height: 100px;
    
    margin: 10px;
    margin-bottom: 0;
    
    overflow: hidden;
}
.pharmacy .item .date {
    font-size: 12pt;
    font-weight: bold;
    color: #666;
    
    margin: 10px;
    padding: 10px;
    
    float: left;
}
.pharmacy .item .buy {
    width: 80px;
    height: 40px;
    
    border-radius: 10px;
    border-top: solid 2px gray;
    border-left: solid 2px gray;
    border-right: solid 2px darkslategray;
    border-bottom: solid 2px darkslategray;
    
    background-color: #ddd;
    color: darkblue;
    
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    padding: 6px;
    
    
    margin: 10px;
    float: right;
}
.pharmacy .item .buy:hover {
    text-decoration: none;
    
    background-color: darkblue;
    color: #fff;
}