.pricelist {
    width: 75%;
    
    position: relative;
    overflow:  hidden;
    
    float: left;
    padding: 5px 0;
}
.pricelist h3 {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    
    padding-left: 30px;
    padding-bottom: 5px;
    
    border-bottom: solid 2px #888;
}

.pricelist > .item {
    width: 48%;
    height:  150px;
    
    margin: 5px;
    padding: 5px;
    float:  left;
    overflow: hidden;
    box-shadow: 0 0 10px #000;
    
    background-color: rgba(255, 255, 255, 0.6);
}
.pricelist > .item h3 {
    margin: 0;
    text-align: center;
}
.pricelist > .item p {
    height:  85px;
    margin: 2px;
    overflow:  hidden;
}
.procelist > .item span {
    display: inline-block;
}
.pricelist > .item span[name="price"] {
    float: left;
}
.pricelist > .item span[name="recording"] { 
    float: right; 
}