header {
    width: 100%;
    height: 50px;
    background-color: #444;
    padding: 0;
    
    -moz-user-select: none;
    -webkit-user-select: none;
}
.navigation {
    width: 70%;
    height: 100%;
    
    list-style-type:  none;
    margin: 0px;
    padding: 10px;
    
    display:  inline-block;
}
.navigation > li {
    height: 100%;
    display: inline;
    font-size:  16pt;
    font-variant-caps: all-petite-caps;
    margin-right: 2%;
}
.navigation > li > a        { color: #fff; }
.navigation > li > a:hover  { color: #0ff; }
.navigation > li > a:active { color: #0cf; } 
.logo {
    width:  30%;
    height: 100%;
    
    text-align: center;
    padding:  5px;
    
    float:  right;
    
    display: inline-block;
}
.logo > a {
    color: #fff;
    font-family: monospace;
    font-size:  20pt;
    font-weight:  900;
}
.logo > a:hover {
    color: #0ff;
    text-decoration: none;
}
.logo > a:link {
    text-decoration: none;
}

.wrapper {
    background-color: #ddd;
}
.wrapper .container {
    padding: 0;
}

.sidebar {
    width: 25%;
    
    float: right;
    margin-top: 60px;
}
.sidebar .item {
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    
    overflow: hidden;
    
    box-shadow: 0 0 10px #444;
    background-color: rgba(235, 235, 235, 0.6);
} 
.sidebar .item h3 {
    text-align: center;
    
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    
    border-top: solid 1px #666;
    border-bottom: solid 1px #666;
}
.sidebar .item h4 {
    text-align: center;
    
    margin-top: 0;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    border-top: solid 1px #666;
    border-bottom: solid 1px #666;
}

.sidebar .item form {
    margin: 0 15px;
}
.sidebar .item form label {
    float: right;
    margin-right: 5px;
}
.sidebar .item form input {
    width: 175px;
    float: right;
    background-color: #efefef;
    color: #444;
    box-shadow: inset 0 0 5px #333;
    padding: 3px;
    border: none;
}
.sidebar .item form button {
    width: 100px;
    float: right;
    margin-left: 20px;
}

.sidebar .item .user-info .image {
    width: 150px;
    height: 150px;
    
    margin: 0 auto;
    
    border: solid 2px #333;
    border-radius: 50%;
    
    background-color: #ccc;
    background-image: url(../images/kftkftkr.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sidebar .item .user-info .menu-item {
    border-top: solid 1px #666;
    border-bottom: solid 1px #666;
    
    margin: 10px;
    padding: 5px;
    
    color: #333;
    text-align: center;
    
    display: block;
}
.sidebar .item .user-info .menu-item:hover {
    text-decoration: none;
    
    background-color:  rgba(255, 255, 0, 0.2);
    cursor: pointer;
}
.sidebar .item .user-info .menu-item:link {
    text-decoration: none;
}

.sidebar .item ul {
    list-style-type: none;
    margin: 0 15px;
    padding: 0;
}
.sidebar .item ul li {
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
    padding-right: 10px;
}
.sidebar .item ul li span {
    display: inline-block;
    float: right;
    
    padding: 2px;
    border: solid 1px #999;
    border-radius: 5px;
    background-color:  #efefef;
}
.sidebar .item ul li span:hover {
    cursor: pointer;
    background-color:  #555;
    border: solid 1px #eee;
    color: #fff;
}

footer {
    width: 100%;
    height:  100px;
    background-color:  #444;
    overflow: hidden;
}
footer .column {
    width:  33%;
    height:  100%;
    float:  left;
    
    color: #fff;
    padding: 10px;
}
footer .column a { 
    color: #fff; 
    text-decoration: none;
}
footer .column a:hover {
    color: #0ff;
    text-decoration: none;
}
footer .column a:link {
    color: #0cf; 
    text-decoration: none; 
}
footer input[type="email"] {
    width: 100%; 
    color: #565;
}
footer button { 
    width: 50%; 
    color: #565;
}